<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aimyskin.laserserialmodule">

    <application>
        <service
            android:name=".LaserSerialService"
            android:enabled="true"
            android:exported="true"/>
    </application>
</manifest>